body {
  font-family: 'Merriweather', serif;
  background-color: #0e1a1f;    /*Teeman tumma tausta kehyksen sisällä */
  color: white;
  border: 30px solid transparent;
  border-image: url("images/taustakuva.jpg") 100 round;   /*Kehys kuvalla */
}

header {
  background: #12262f;
  padding: 1rem;
  text-align: center;
}

/*Otsikot kultaiseksi + kevyt hohto */
h1, h2, h3, h4, h5, h6 {      
  font-family: 'Cinzel', serif;
  color: #f0c75e;
  text-shadow: 0 0 8px rgba(240, 199, 94, 0.4);
}

/*Leipäteksti valkoiseksi*/
p, li, ul, ol, a, span {
  color: #ffffff;
}



nav {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;  /*Linkit on levitetty tasaisesti*/
  align-items: center;
  width: 100%;
  padding: 0.8rem 0;
  background: #12262f;
}

nav a {
  text-decoration: none;
  color: #f0c75e;
  font-weight: bold;
  font-size: 1.4rem;
}

nav a:hover {
  color: gold;
}

/*LAYOUT: Kuva ja teksti*/

.card {
  background: #0f222a;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}

.split {
  display: flex;
  flex-direction: column;   /*Mobiili ja tabletti allekkain*/
  gap: 1rem;
}

.split .media 
.split .content {
width: 100%;
}

/*Kuva rajaus kortin sisällä */
.split .media img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/*DESKTOP vierekkäin*/

@media (min-width: 1200px) {
  .split {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }

.split .media {
    flex: 0 0 45%;    /*kuva -45% leveys*/
  }

.split .content {
    flex: 1;        /* teksti täyttää loput*/
  }
}

/*Footer*/

footer {
  background: #12262f;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 2rem;
  border-top: 1px solid rgba(240,199,94,0.2);
  color: #ffffff;
}

/* NAV – mobiilinäkymä */
@media (max-width: 768px) {
  nav {
    flex-direction: column;  /* linkit allekkain */
    gap: 1rem;               /* väli linkkien väliin */
  }
}
